
<body><center><h1><b>Registration form</b></h1></br>
	<link rel="stylesheet" href="../../assets/stylesheets/sign_up.css"/>
<table>
	<tr>
		<td>
	<h2>Create your account</h2></td>
	<td><center><h2>Personal information</h2></center></td>
</tr>
<tr>
	<td><center>
		<form>
			<input id="username" type="text" placeholder="Username"></br>
			<input id="email" type="email" placeholder="Email"></br>
			<input id="password" type="password" placeholder="Password"></br>
			<input type="password" placeholder="Confirm Password">
		</form></center>
	</td>
	<td>
		<table>
  	<tr>
  		<td>First Name</td>
  		<td><input id="first_name" type="text" placeholder></td>
  		
  	</tr>
  	<tr>
  		<td>Last Name</td><td><input id="last_name" type="text" placeholder></td>
  	<tr>
  		<td>Date of birth</td>
  		<td><input id="date_of_birth" type="date"></td>
  		<td></td>
  		<td></td>
  	</tr>
  	<tr>
  		<td>Gender</td>
  		<td>
  				<input list="gender" />
          <datalist id="gender">
            <option value="Male">
            <option value="Female">
          </datalist>
      </td>
  			<tr><td>Street</td>
      <td><input id="street" type="text"></td>
  	</tr>
    <tr>
      <td>City</td>
      <td><input id="city" type="text"></td>
    </tr>
    <tr>
      <td>CAP</td>
      <td><input id="cap" type="text"></td>
    </tr>
    <tr>
      <td>Country</td>
      <td><input id="country" type="text"></td>
    </tr>
  </table>
</td>
</tr>
</table></br></br>
<input type="submit" value="Submit">

</center>
</body>