<body>

<link rel="stylesheet" href="/assets/search.css"/>
<br></br>
<h1>Search Event</h1>

<div class="background">
  <div class="transbox">
  
<br></br>  
<p>
	Here you can search your favourite event:
</p>

<form>
  <input type="text" placeholder="Category"><br></br>
  <input type="text" placeholder="Place"><br></br>
  <input type="Datetime" placeholder="Date"><br></br>
  <input type="text" placeholder="Author"><br></br>
  <input type="submit">
</form><br></br>
</div>
</div>
</body>

<!--background-color: #d0e4fe;#F0E68C;#CC8214;
}-->