<div id="search">

<body>

<link rel="stylesheet" href="/assets/search.scss"/>
<br></br>
<h1>Search Event</h1>

<div class="background">
  <div class="transbox">
<<<<<<< HEAD
  
<br></br>  
=======

>>>>>>> 94bf660fe548d5156a137d7637dd2e504ea83976
<p>
	Here you can search your favourite event:
</p>

<form>
  <input type="text" placeholder="Category"><br></br>
  <input type="text" placeholder="Place"><br></br>
  <input type="Datetime" placeholder="Date"><br></br>
  <input type="text" placeholder="Author"><br></br>
  <input type="submit">
</form><br></br>
</div>
</div>
</body>
<<<<<<< HEAD

<!--background-color: #d0e4fe;#F0E68C;#CC8214;
}-->
=======
</div>
>>>>>>> 94bf660fe548d5156a137d7637dd2e504ea83976
